body, html, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6, a, li, span, div, input, button {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
}