<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="smartcat:showadditem" type="SmartcatPlugin.Commands.ShowAddItemCommand, SmartcatPlugin" />
			<command name="smartcat:showbasket" type="SmartcatPlugin.Commands.ShowBasketCommand, SmartcatPlugin" />
			<command name="smartcat:showauthorization" type="SmartcatPlugin.Commands.ShowAuthorizationCommand, SmartcatPlugin" />
			<command name="smartcat:showprojects" type="SmartcatPlugin.Commands.ShowProjectsCommand, SmartcatPlugin" />
		</commands>
	</sitecore>
</configuration>