<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<log4net>
			<appender name="SmartcatLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/smartcat.log.{date}.txt" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
			</appender>

			<logger name="SmartcatLoggingService" additivity="false">
				<level value="INFO" />
				<encoding value="utf-8" />
				<appender-ref ref="SmartcatLogAppender" />
			</logger>

			<root>
				<level value="DEBUG" />
				<appender-ref ref="SitecoreLogFileAppender" />
			</root>
		</log4net>
	</sitecore>
</configuration>
