<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="SmartcatPlugin.WebApiInitializer, SmartcatPlugin" />
			</initialize>
		</pipelines>
		
		<services>
			<configurator type="SmartcatPlugin.Controllers.ServicesConfigurator, SmartcatPlugin" />
		</services>
		
		<commands>
			<command name="smartcat:showadditem" type="SmartcatPlugin.Commands.ShowAddItemCommand, SmartcatPlugin" />
			<command name="smartcat:showbasket" type="SmartcatPlugin.Commands.ShowBasketCommand, SmartcatPlugin" />
			<command name="smartcat:showauthorization" type="SmartcatPlugin.Commands.ShowAuthorizationCommand, SmartcatPlugin" />
			<command name="smartcat:showprojects" type="SmartcatPlugin.Commands.ShowProjectsCommand, SmartcatPlugin" />
			
			<command name="smartcat:showadditemexperienceeditor" 
					 type="SmartcatPlugin.Commands.ShowAddItemExperienceEditor, SmartcatPlugin" />
			<command name="smartcat:showbasketexperienceeditor" 
					 type="SmartcatPlugin.Commands.ShowBasketExperienceEditor, SmartcatPlugin" />
			<command name="smartcat:showprojectsexperienceeditor" 
					 type="SmartcatPlugin.Commands.ShowProjectsExperienceEditor, SmartcatPlugin" />
			<command name="smartcat:showauthorizationexperienceeditor" 
					 type="SmartcatPlugin.Commands.ShowAuthorizationExperienceEditor, SmartcatPlugin" />
		</commands>
		
		<sitecore.experienceeditor.speak.requests>
			<request name="smartcat.showasmarcatmodalpipeline" type="SmartcatPlugin.Pipelines.ShowSmartcatModalPipeline, SmartcatPlugin"/>
		</sitecore.experienceeditor.speak.requests>
		
		<log4net>
			<appender name="SmartcatLogAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/smartcat.log.{date}.txt" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
			</appender>

			<logger name="SmartcatLoggingService" additivity="false">
				<level value="INFO" />
				<encoding value="utf-8" />
				<appender-ref ref="SmartcatLogAppender" />
			</logger>

			<root>
				<level value="DEBUG" />
				<appender-ref ref="SitecoreLogFileAppender" />
			</root>
		</log4net>		
	</sitecore>
</configuration>